<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>meinfeedback.at</title>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/java.js}"></script>
</head>
<body>
<div id="uberschrift">

    <table align="center">
        <tr>
            <td><img th:src="@{/images/logo.JPG}" width="150" height="90"/></td>
            <td><h1>meinFeedback.at</h1></td>
        </tr>
    </table>
</div>
<table>
    <thead>
    </thead>

    <tbody>
        <tr th:each="comp : ${companies}">
            <td th:text="Name">Name</td>
            <td th:text="${comp.name}">Firma</td>
            <td></td>
        </tr>

        <tr th:each="comp : ${companies}">
            <td th:text="Bewertung">Name</td>
            <td class="center"> <img th:src="@{/images/star.png}" width="10" height="10" class="center" th:each="star:${#numbers.sequence(1, comp.avgRating)}"></td>
        </tr>

    </tbody>

</table>

</body>
</html>
